<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,500i,600,700,800&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body class="d-flex flex-column">

        <!-- =============================================================== -->
        <!-- HEADER START -->
        <!-- =============================================================== -->
        <header class="container-fluid d-flex">
            <div class="container">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="#">
                        <div class="row">
                            <div class="col-4 col-sm-5 text-center img-logo">
                                <img class="my-2 img-fluid" src="/assets/img/logo_vu80.png" alt="">
                            </div>
                            <p class="col-8 col-sm-7 my-auto pl-sm-2 ">Hidrogeologijos <br> ir inžinerinės <br> geologijos katedra</p>
                        </div>
                    </a>
                    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/apie-katedra.html">APIE <span class="dropdown-toggle" id="apieDropdown"></span></a>
                                    
                                </a>
                                <div class="dropdown-menu" aria-labelledby="apieDropdown">
                                    <a class="dropdown-item" href="#">Naujienos</a>
                                    <a class="dropdown-item" href="/partials/apie/istorija.html">Istorija</a>
                                    <a class="dropdown-item" href="/partials/apie/darbuotojai.html">Darbuotojai</a>
                                    <a class="dropdown-item" href="/partials/apie/laboratorijos.html">Laboratorijos</a>
                                </div>
                            </li>

                            <li class="nav-item  dropdown">
                                <a class="nav-link" href="/stojantiems.html">STOJANTIEMS <span class="dropdown-toggle" id="stojantiemsDropdown"></span></a>
            
                                <div class="dropdown-menu" aria-labelledby="stojantiemsDropdown">
                                    <a class="dropdown-item" href="/partials/stojantiems/kaip-stoti.html">Kaip stoti?</a>
                                    <a class="dropdown-item" href="/partials/stojantiems/perspektyvos.html">Darbo perspektyvos</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/studijos.html">STUDIJOS <span class="dropdown-toggle" id="studijosDropdown"></span></a>  
        
                                <div class="dropdown-menu" aria-labelledby="studijosDropdown">
                                    <a class="dropdown-item" href="/partials/studijos/aktualu.html">Aktualu</a>
                                    <a class="dropdown-item" href="/partials/studijos/tvrkarasciai.html">Tvarkarasčiai</a>
                                    <a class="dropdown-item" href="/partials/studijos/bakalauro.html">Bakalauro studijos</a>
                                    <a class="dropdown-item" href="/partials/studijos/magistro.html">Magistro studijos</a>
                                    <a class="dropdown-item" href="/partials/studijos/doktorantura.html">Doktorantūra</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link  active" href="/mokslas.html">MOKSLAS <span class="dropdown-toggle" id="mokslasDropdown"></span></a>
                             
                                <div class="dropdown-menu" aria-labelledby="mokslasDropdown">
                                    <a class="dropdown-item" href="/partials/mokslas/leidiniai.html">Leidiniai</a>
                                    <a class="dropdown-item" href="/partials/mokslas/straipsniai.html">Straipsniai</a>
                                    <a class="dropdown-item" href="/partials/mokslas/projektai.html">Projektai</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/kontaktai.html">KONTAKTAI</a>
                            </li>   
                        </ul>
                        <div class="text-center m-3">
                            <a href="#" class="mod-lang">EN</a>
                        </div>
                    </div>
                </nav>    
            </div>
        </header> <!-- HEADER END-->

        <section class="container-fluid mb-5">
            <div class="container pt-3 pb-2">
                <div class="row mt-5">
                    <div class="col-lg-3 sidebar">
                        <h2>Mokslas</h2>
                        <ul class="nav flex-column mt-3">
                            <li class="nav-item">
                                <a href="/partials/mokslas/leidiniai.html" class="nav-link"><i class="fas fa-angle-right"></i> Leidiniai</a>
                            </li>
                            <li class="nav-item">
                                <a href="/partials/mokslas/straipsniai.html" class="nav-link  active"><i class="fas fa-angle-right"></i> Straipsniai</a>
                            </li>
                            <li class="nav-item">
                                <a href="/partials/mokslas/projektai.html" class="nav-link"><i class="fas fa-angle-right"></i> Projektai</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <h1>Straipsniai</h1>
                        <h3 class="mt-2">2017</h3>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action">
                                Gerber Ch., Vaikmae R., Aeschbach-Hertig W., Babre A., Jiang W., Leuenberger M., Lu Z-T., Mokrik R., Müller P., Raidla V., Saks T., Waber N., Weissbach Th., Zappala J., Purtschert R. 2017. Using 81Kr and noble gases to characterize and date groundwater and brines in the Baltic Artesian Basin on the 1 million years timescale. Geochimica et Cosmochimica Acta. Vol. 205: 187-210. 
                                <a href="http://dx.doi.org/10.1016/j.gca.2017.01.033">http://dx.doi.org/10.1016/j.gca.2017.01.033</a>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Stuopis A., Mokrik R., Gregorauskas M., Marcinonis A. 2017. Assessment of groundwater resources of Quaternary aquifer system in concordance with avoidable negative impact on geoenvironment, South-Eastern part of Lithuania. Water Resources. Vol. 44, No. 1: 52-60.
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Raidla V., Kern Z., Babre A., Erg K., Ivask J., Kohan B., Martma T., Mokrik R., Parn J., Vaikmae R. 2016. A δ18O isoscape for the shallow groundwater in the Baltic Artesian Basin. Journal of Hydrology. Vol. 542: 254-267.
                            </li>
                        </ul>

                        <h3 class="mt-2">2016</h3>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action">
                                Gerber Ch., Vaikmae R., Aeschbach-Hertig W., Babre A., Jiang W., Leuenberger M., Lu Z-T., Mokrik R., Müller P., Raidla V., Saks T., Waber N., Weissbach Th., Zappala J., Purtschert R. 2017. Using 81Kr and noble gases to characterize and date groundwater and brines in the Baltic Artesian Basin on the 1 million years timescale. Geochimica et Cosmochimica Acta. Vol. 205: 187-210. 
                                <a href="http://dx.doi.org/10.1016/j.gca.2017.01.033">http://dx.doi.org/10.1016/j.gca.2017.01.033</a>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Stuopis A., Mokrik R., Gregorauskas M., Marcinonis A. 2017. Assessment of groundwater resources of Quaternary aquifer system in concordance with avoidable negative impact on geoenvironment, South-Eastern part of Lithuania. Water Resources. Vol. 44, No. 1: 52-60.
                            </li>
                            <li class="list-group-item list-group-item-action">
                                Raidla V., Kern Z., Babre A., Erg K., Ivask J., Kohan B., Martma T., Mokrik R., Parn J., Vaikmae R. 2016. A δ18O isoscape for the shallow groundwater in the Baltic Artesian Basin. Journal of Hydrology. Vol. 542: 254-267.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <footer class="container-fluid  justify-content-end">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Kontaktai</h2>
                        <p>Adresas: M. K. Čiurlionio g. 21/27, Vilnius</p>
                        <p>Telefonas: (85) 2398280, (85) 2398278</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Nuorodos</h2>
                        <a href="https://www.vu.lt/it/epaslaugos/" target="_blank">VU el. paslaugos</a>
                        <a href="https://www.lgt.lt/" target="_blank">Lietuvos geologijos tarnyba</a>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <p>&copy; 2018 Hidrogeologijos ir inžinerinės geologijos katedra</p>
                    <a href="">Tinklalapio administratorius</a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="/assets/scripts/main.js"></script>
    </body>
</html>